# General temp files
.DS_Store
*.ser
*.pyc
*.swp

# Files related to Play build or usage
target
logs
log
out

# IDE and editors
*~
.idea/tasks.xml
.idea/workspace.xml
.cache
nbproject
eclipse
.amateras
.settings
.classpath
.project
*.ipr
*.iws